.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
 
  position: fixed; /* Фиксированное позиционирование для шапки */
  width: 100%;
  top: 0;
  z-index: 1000; /* Обеспечиваем, чтобы шапка была поверх других элементов */
}

.nav-links {
  display: flex;
  gap: 65px;
  margin-right: 225px;
  font-weight: bold;
  
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  position: relative; /* Необходимо для нижней полоски */
}
.nav-link:hover {
  color: #ccc; /* Цвет при наведении */
}
.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
  position: absolute;
  bottom: -5px; /* Расстояние от текста до полоски */
  left: 0;
}
.nav-link:hover::after {
  width: 100%;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1B1E1C;
    padding: 20px;
    border-radius: 8px;
  }

  .nav-links.open {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  .logo-container {
    display: none; /* Скрываем логотип на мобильных устройствах */
  }
}

